body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-color: #ececec9c;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.menu {
    position: fixed;
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 15px 15px;
    z-index: 10;
    padding: 0px 5%;
    background-color: #557dde;
    box-shadow: 0px 1px 20px 5px #557dde70;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.time,
.sort {
    line-height: 70px;
    width: 30%;
}

.time h2,
.sort h2 {
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 15px;
}

.sort {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sort select {
    display: block;
    height: 100%;
    width: 90px;
    background-color: #557dde;
    color: white;
    outline: 0px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 10px;
}

.header {
    line-height: 70px;
    text-align: center;
    width: 40%;
    background-color: #b7cbfd52;
    border-radius: 5px 5px 0px 0px;
}

.header h1 {
    font-weight: 100;
    color: #ffffff;
    font-size: 27px;
}

.input-section {
    padding: 130px 7% 80px 7%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: #f3f3f3;
    z-index: 5;
}

.input-container {
    width: 55%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 15px 0px #00000024;
    border-radius: 10px;
    background-color: white;
}

.input-container input,
.input-container textarea {
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 0px;
    outline: 0px;
}

.note-head {
    min-height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: #484848;
}

.note-head::placeholder {
    font-weight: bold;
}

.input-container .note-content {
    margin-top: 10px;
    padding-top: 0px;
    min-height: 40px;
    height: 40px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #2e2e2e
}

.navigation {
    position: relative;
    width: 100%;
    height: 40px;
}

.cats,
.add-button {
    position: absolute;
    border: 0px;
    outline: 0px;
}

.cats {
    border-left: 3px solid black;
    bottom: 0px;
    right: 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    color: #464646;
    padding: 0px 5px;
    border-radius: 0px;
    cursor: pointer;
    transition: .3s ease;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.add-button {
    bottom: 0px;
    left: 10px;
    height: 30px;
    width: 30px;
    font-size: 15px;
    color: white;
    background-color: #9de035;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.add-button > i {
    position: absolute;
    border-radius: 30px;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.add-button:hover {
    box-shadow: 0px 0px 15px #bfbfbf;
}

/* Created Note Style Sheet */

.note-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0px 7% 5% 7%;
}

.note {
    position: relative;
    min-width: 280px;
    max-width: 380px;
    min-height: 250px;
    max-height: 500px;
    padding: 20px;
    margin: 15px;
    border-bottom: 5px solid transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 15px 0px #00000024;
    background-color: white;
}

.note-header {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: #3d3d3d;
    margin: 0px 0px 20px 0px;
}

.note-text {
    line-height: 25px;
    margin-bottom: 40px;
    color: #555454
}

.note > i {
    position: absolute;
    bottom: 0px;
    color: #868686;
    transition: .3s ease-out;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.note > i:first-of-type {
    right: 40px;
}

.note > i:first-of-type:hover {
    color: #9de035;
}

.note > i:first-of-type::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 26px;
    bottom: 4px;
    right: -5px;
    background-color: #868686;
}

.note > i:last-of-type {
    right: 0px;
}

.note > i:last-of-type:hover {
    color: #c31717;
}

/* Section Edit */

.edit-section {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #0f121f8a;
    padding: 100px 7%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.edit-section.hide {
    display: none;
}

.edit-container {
    background-color: white;
    width: 70%;
}

.general {
    border-bottom-color: #c31717;
}

.private {
    border-bottom-color: #9de035;
}

.work {
    border-bottom-color: #1c61fd;
}
